<h1>Match Game!</h1>
<table>
  @for( row of grid; track $index) {
  <tr class="row">
    @for(cell of row; track $index) {
    <td class="col">
      <div class="card" [ngClass]="cell.flipped ? 'is-flipped' : ''">
        <div class="card__face card__face--back">
          {{ cell.picture }}
        </div>
        <div class="card__face card__face--front" (click)="toggle(cell)">
          <span>{{ bgPicture }}</span>
        </div>
      </div>
      <!-- <span style="font-size: 12px"
        >Flipped: {{ cell.flipped }} Matched: {{ cell.matched }}</span
      > -->
    </td>
    }
  </tr>
  }
</table>
<div>{{ moves }} moves</div>
