<div class="grid">
  @for( row of grid; track $index) {
  <div class="row">
    @for(cell of row; track $index) {
    <div class="col">
      <div class="card" [ngClass]="cell.flipped ? 'is-flipped' : ''">
        <div
          class="card__face card__face--back"
          [innerHTML]="cell.picture"
        ></div>
        <div class="card__face card__face--front" (click)="toggle(cell)">
          <span>{{ bgPicture }}</span>
        </div>
      </div>
      <!-- <span style="font-size: 12px"
        >Flipped: {{ cell.flipped }} Matched: {{ cell.matched }}</span
      > -->
    </div>
    }
  </div>
  }
</div>
<div>{{ moves }} moves</div>
